#circle-chart {
    background-color: #000;
    font-family: 'Furore';
    min-height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle {
    width:100%;
    max-width: 1200px;
    padding: 30px;
}

#circle h3 {
    font-size: 1.5rem;
    letter-spacing: .1em;
    text-align: center;
    margin-bottom: 3em;
}

#circle .row {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

#circle .row .col {
    width:50%;
    max-width: 500px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    letter-spacing: .01em;
}

.col span {
    display: block;
}

#circle .row.lim .col svg {
    min-width: 200px;
    width: 200px;
}

.col .grow {
    text-align: center;
}

.grow {
    text-align: center;
}

.grow input {
    background:transparent;
    font-family: 'Furore';
    text-align: center;
    border:none;
    outline:none;
    font-size: 2rem;
    color: #00ff99;
    padding: 10px;
/*    width: 180px;*/
}

.par {
    font-size: 1em;
    color: #00ff99;
}

.par1 {
    font-size: 0.8em;
    color: #00ff99;
}

.info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 2rem;
    color: #00ff99;
}

.info span {
    font-size: .4em;
    color: #00ff99;
}

sup {
    font-size: small;
    vertical-align: super;
}

#chart h3 span {
    font-family: monospace;
}



.circle-chart {
    animation: circle-chart-fill 3.5s reverse;
    transform: rotate(90deg);
    transform-origin: center;
}


.animate .circle-chart__circle {
  animation: circle-chart-fill 3.5s reverse; /* 1 */ 
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

.animate .circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100 ; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width:375px) and (orientation:portrait) {
    
    #circle h3 {
        font-size: 1em;    
    }
    
    #circle .row .col {
        width: 100%;
        margin-bottom: 30px;
    }
    
    .grow input {
    font-size: 1.5rem;
}
    
    .par {
    font-size: 0.7rem;
        letter-spacing: 0.05rem;
}
    
    #circle .row {

    margin-bottom: 3rem;
         letter-spacing: 0.05rem;
}
    
    #circle .row.lim .col svg {
    min-width: 150px;
    width: 150px;
}
    
    .info {
    font-size: 1.5rem;

}
}