#about {
    position: relative;
    background-image: url("../img/bg.jpg");
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    margin: auto;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    background-color: #000;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.second {
    max-width: 650px;
    /*    max-height: 100vh;*/
    padding: 80px 30px;
}




.second p {
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #00ff7f;
    text-align: right;
}

.second p span {
    font-family: monospace;
}


/* .more {

    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: all .3s ease;
}

.more.open {
    visibility: visible;
    height: auto;
    opacity: 1;
} */


/* button {
    margin-top: 30px;
    outline: none;
    letter-spacing: 0.05em;
    position: relative;
    font-family: 'furore';
    padding: 10px 15px;
    color: #00ff7f;
    border: 2px solid #00ff7f;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
    transition: 0.2s;

} */


button:hover {
    color: #000;
    background: #00ff7f;
}


@media screen and (orientation:portrait) and (max-width:768px) {
    #about {
        background-image: url("../img/Screen-Shot-2017-04-25-at-19.19.16.png");
        background-position: left top;
        align-items: flex-end;
        background-size: cover;
        justify-content: flex-start;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .second {
        max-width: 500px;
        /*    max-height: 100vh;*/
        padding: 50px 30px 50px 80px;

    }

    .second p {
        text-align: left;

    }

}
